h1 {
  margin: 0;
}

.App {
  padding: 0 50px;
}

.dark-bg, .dark-mode, .dark, .toggle-dark {
  background-color: rgb(50, 50, 50);
}

.light-bg, .light-mode, .light, .toggle-light {
  background-color: rgb(250, 250, 250);
}

.toggle-dark, .toggle-light {
  display: flex;
  padding: 3px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 50px;
}
.dark-mode, .light-mode {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  text-align: center;
}
.dark-mode, .dark {
  color: rgb(250, 250, 250);
}
.light-mode, .light {
  color: rgb(50, 50, 50);
}

.box {
  border: 1px solid rgb(50, 50, 50)
}