.card-validator {
    padding: 20px;
    border: 1px solid rgba(50, 50, 50, .3);
    width: 340px;
}

.light-border {
    border: 1px solid rgba(250, 250, 250, .3);
}

.header, .dark-text {
    color:rgb(50, 50, 50);
}
  
.light-text {
    color:rgb(250, 250, 250);
}

.card-fields, .expDate-set, .cvv-set, .cvv-field, .month-field, .year-field, .expDate-cvv, .expDate-field {
    display: flex;
}
.card-fields, .expDate-set, .cvv-set, .cvv-field, .month-field, .year-field {
    flex-direction: column;
}

.card-fields, .expDate-set, .cvv-set {
    align-items: flex-start;
}

.card-field, .submit-btn {
    margin-bottom: 7px;
    width: 300px;
    height: 30px;
}

.card-field-label, .err-msg {
    font-size: 12px;
}

.card-field-label {
    margin-bottom: 5px;
    font-weight: 500;
}

.expDate-cvv {
    gap: 20px;
}

.expDate-input, .month-field .err-msg, .year-field .err-msg {
    width: 70px;
}

.expDate-field {
    gap: 7px;
}

.cvv-input {
    width: 100px;
}

.submit-btn {
    padding: 0;
    border: none;
    cursor: pointer;
}

.err-msg {
    margin-bottom: 20px;
    color: rgb(199, 12, 68);
}

.light-err {
    color: rgb(231, 102, 152);
}

.light-btn {
    background-color: rgb(142, 238, 230);
}