.card-body {
  position: relative;
  margin-bottom: 50px;
  border-radius: 15px;
  border: 3px solid rgb(50, 50, 50);
  background: linear-gradient(to bottom right, darkcyan, darkblue);
  width: 500px;
  height: 300px;
}

.light-card-border {
  border: 2px solid rgb(250, 250, 250);
}

.card-number,
.card-holder,
.exp-date,
.visa-img,
.chip-img,
.cvv {
  position: absolute;
}

.card-number,
.card-holder,
.exp-date,
.cvv {
  color: rgb(250, 250, 250);
}

.card-number {
  margin: 0;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
  width: 100%;
  font-size: 30px;
}

.visa-img {
  top: -10px;
  right: 10px;
  width: 130px;
}

.chip-img {
  top: 10px;
}

.card-holder,
.exp-date,
.cvv {
  bottom: 30px;
  font-size: 18px;
}
.card-holder,
.chip-img {
  left: 30px;
}

.exp-date {
  left: 250px;
}

.cvv {
  right: 30px;
}
